<h4 class="pt-15">Embedded logging Target Congifuration</h4>
<hr/>
<div class="row">
  {{#each types as |type idx|}}
    <div class="col span-4">
      <div class="logging-box {{if (eq idx defaultActiveIdx)  'active' ''}}" {{action 'activate' idx}}>
        <div>
          <h2 class="mt-0" > {{type.type}} </h2>
          <hr/>
          <ul>
            <li><i class="icon icon-circle" ></i>1 Node</li>
            <li><i class="icon icon-circle" ></i>{{type.emResReqCPU}} Core</li>
            <li><i class="icon icon-circle" ></i>{{type.emResReqMemory}}G Mem</li>
            <li><i class="icon icon-circle" ></i>Non persistent storage</li>
          </ul>
        </div>
        <div class="pt-20">
          With resource requests of {{type.emResReqCPU}} CPU is guaranteed {{type.emResReqCPU}} CPU, equivalent to the expression {{type.emResReqCPU}}000m. {{type.emResReqMemory}}G Memory means request for {{type.emResReqMemory}}G memory. If the scheduler cannot find any node where a requested computing resource can fit, the Elasticsearch instance remains unscheduled until a place can be found.
        </div>
      </div>
    </div>
  {{/each}}
</div>