<section class="header clearfix">
  <div class="pull-left pt-10"><h1>{{t 'nav.tools.alerts'}}</h1></div>
  <div class="right-buttons">
    <div class="btn-group-sm" >
      {{#link-to (query-params alertState="all")  classNames="btn btn-sm bg-default m-0"}}{{t 'nav.tools.all'}}{{/link-to}}
      {{#link-to (query-params alertState="active") classNames="btn btn-sm bg-default m-0"}}{{t 'nav.tools.active'}}{{/link-to}}
      {{#link-to (query-params alertState="suppressed") classNames="btn btn-sm bg-default m-0"}}{{t 'nav.tools.suppressed'}}{{/link-to}}
    </div>
    <button {{action 'showConfigureModal'}} class="btn btn-sm bg-default">Alert Configuration</button>
    {{#link-to "alerts.new" classNames="btn btn-sm bg-primary"}}{{t 'nav.tools.addAlert'}}{{/link-to}}
  </div>
</section>

{{alert-table alertState=alertState model=model.alerts targetId=null}}
