<section class="box">
  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'generic.host'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.outputHost
          classNames="form-control"
          placeholder=(t 'loggingPage.outputHost.placeholder')
      }}
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.outputPort.label'}}{{field-required}}</label>
      {{input-integer
          class="form-control public"
          min="1"
          max="65535"
          value=model.outputPort
          placeholder=(t 'loggingPage.outputPort.placeholder')
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-6 mb-20 mt-10">
      <label class="acc-label" for="">{{t 'loggingPage.outputPrefix.label'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.outputLogstashPrefix
          className="form-control"
          placeholder=(t 'loggingPage.outputPrefix.placeholder')
      }}
    </div>
    <div class="col span-6">
      <label class="acc-label" for="">{{t 'loggingPage.dateFormat.label'}}</label>
      {{new-select
          htmlSafe=false
          class="form-control mb-15"
          className="form-control"
          content=dateFormatChoices
          localizedLabel=false
          value=model.outputLogstashDateformat
      }}
    </div>
  </div>
  <div class="text-info">
    {{t 'loggingPage.resultTip' htmlSafe=true}}<code class="text-italic">{{model.outputLogstashPrefix}}-{{dateFormatString}}</code>
  </div>
  <hr/>
  <div class="">
    <!-- {{t 'loggingPage.indexPatternTip' htmlSafe=true}} -->
    <p>Elacticsearch uses<span class="text-muted text-italic ph-5">Prefix</span>and<span class="text-muted text-italic ph-5">Date Format</span>to customize the index name pattern. The index name pattern is:<span class="text-muted text-italic pl-5">#{prefix}-#{date_format}</span>, where<span class="text-muted text-italic ph-5">Date Format</span>represents:
    </p>
    <ul>
      <li><code>YYYY.MM.DD</code> for daily</li>
      <li><code>YYYY.MM</code> for monthly</li>
      <li><code>YYYY</code> for yearly</li>
    </ul>
    <p>With the current configuration, a new index name will be generated every {{dateFrequenceLabel}} and logging records will be inserted into index: <code class="text-italic">{{model.outputLogstashPrefix}}-{{dateFormatString}}</code>, where <code class="text-italic">{{dateFormatString}}</code> is the current {{dateFormatTypeLabel}} date.</p>
  </div>
</section>

<div class="row">
  <div class="col span-4">
    <label class="acc-label">{{t 'loggingPage.flushInterval.label'}}</label>
    <div class="input-group">
      {{input-integer
          min=1
          value=model.outputFlushInterval
          class="form-control"
          placeholder=(t 'loggingPage.flushInterval.placeholder')
          aria-describedby="basic-addon2"
      }}
      <span class="input-group-addon bg-default" id="basic-addon2">sec</span>
    </div>
  </div>

  <div class="col text-right span-4 offset-4" style="padding-top:33px;">
    {{input type="checkbox" name="logstashFormat" id="logstashFormat" checked=model.outputLogstashFormat}}
    <label for="logstashFormat">{{t 'loggingPage.logstashFormat'}}</label>
  </div>
</div>