<section class="pb-30">
  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'generic.host'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.outputHost
          classNames="form-control"
          placeholder=(t 'loggingPage.outputHost.placeholder')
      }}
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.outputPort.label'}}{{field-required}}</label>
      {{input-integer
          class="form-control public"
          min=1
          max=65535
          value=model.outputPort
          placeholder=(t 'loggingPage.outputPort.placeholder')
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.esAuthUser.label'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.esAuthUser
          classNames="form-control"
          placeholder=(t 'loggingPage.esAuthUser.placeholder')
      }}
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.esAuthPassword.label'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.esAuthPassword
          classNames="form-control"
          placeholder=(t 'loggingPage.esAuthPassword.placeholder')
      }}
    </div>
  </div>
  <hr/>
</section>

{{#accordion-list as | al expandFn | }}
  {{logging/form-output-tags
      classNames="accordion-wrapper"
      tags=tags
      initialTags=model.outputRecords
      expandAll=al.expandAll
      expandFn=expandFn
  }}
  {{logging/form-index-pattern
      classNames="accordion-wrapper"
      model=model
      expandAll=al.expandAll
      expandFn=expandFn
  }}
{{/accordion-list}}

<div class="row">
  <div class="col span-4">
    <label class="acc-label">{{t 'loggingPage.flushInterval.label'}}</label>
    <div class="input-group">
      {{input-integer
          min=1
          value=model.outputFlushInterval
          class="form-control"
          placeholder=(t 'loggingPage.flushInterval.placeholder')
          aria-describedby="basic-addon2"
      }}
      <span class="input-group-addon bg-default" id="basic-addon2">sec</span>
    </div>
  </div>

  <div class="col text-right span-4 offset-4" style="padding-top:33px;">
    {{input type="checkbox" name="logstashFormat" id="logstashFormat" checked=model.esLogstashFormat}}
    <label for="logstashFormat">{{t 'loggingPage.logstashFormat'}}</label>
  </div>
</div>