<section class="pb-30">
  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'generic.host'}}{{field-required}}</label>
      {{input
          type="text"
          value=model.esHost
          classNames="form-control"
          placeholder=(t 'loggingPage.esHost.placeholder')
      }}
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'generic.port'}}{{field-required}}</label>
      {{input-integer
          class="form-control"
          min=1
          max=65535
          value=model.esPort
          placeholder=(t 'loggingPage.esPort.placeholder')
      }}
    </div>
  </div>

  <label class="acc-label" for="">Optional</label>
  <div class="row box">
    <p class="text-info text-small mt-0 pt-0">
      If you are paid Elasticsearch user, you can provide your Elasticsearch username and password. You can find more information about Elasticsearch pricing
      <a href="https://www.elastic.co/cloud/as-a-service/pricing">here</a>.
    </p>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.esAuthUser.label'}}</label>
      {{input
          type="text"
          value=model.esAuthUser
          classNames="form-control"
          placeholder=(t 'loggingPage.esAuthUser.placeholder')
      }}
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t 'loggingPage.esAuthPassword.label'}}</label>
      {{input
          type="text"
          value=model.esAuthPassword
          classNames="form-control"
          placeholder=(t 'loggingPage.esAuthPassword.placeholder')
      }}
    </div>
  </div>
  <hr/>
</section>

{{#accordion-list as | al expandFn | }}
  {{logging/form-output-tags
      classNames="accordion-wrapper"
      tags=tags
      initialTags=model.outputTags
      expandAll=al.expandAll
      expandFn=expandFn
  }}
  {{logging/form-index-pattern
      classNames="accordion-wrapper"
      model=model
      expandAll=al.expandAll
      expandFn=expandFn
  }}
{{/accordion-list}}

<div class="row">
  <div class="col span-4">
    <label class="acc-label">{{t 'loggingPage.flushInterval.label'}}</label>
    <div class="input-group">
      {{input-integer
          min=1
          value=model.outputFlushInterval
          class="form-control"
          placeholder=(t 'loggingPage.flushInterval.placeholder')
          aria-describedby="basic-addon2"
      }}
      <span class="input-group-addon bg-default" id="basic-addon2">sec</span>
    </div>
  </div>

  <div class="col text-right span-8" style="padding-top:33px;">
    <div style="display:flex; justify-content: flex-end">
      <div class="mr-30">
        {{input type="checkbox" name="esIncludeTagKey" id="esIncludeTagKey" checked=model.esIncludeTagKey}}
        <label for="logstashFormat">{{t 'loggingPage.esIncludeTagKey'}}</label>
      </div>
      <div>
        {{input type="checkbox" name="esLogstashFormat" id="esLogstashFormat" checked=model.esLogstashFormat}}
        <label for="logstashFormat">{{t 'loggingPage.logstashFormat'}}</label>
      </div>
    </div>
  </div>
</div>