<section class="header has-tabs clearfix">
  <h1 class="pull-left">{{headerLabel}}</h1>
</section>

<section class="box mv-20">
  {{switch-button
      checked=model.enable
      onLabel="generic.enable"
      offLabel="generic.disable"
  }}
  <hr/>
  <ul>
  {{#if isClusterLevel}}
    <li>{{t 'loggingPage.tips.cluster'}}</li>
    <li>Disable/Enable configure target at the cluster level will not neccessary disable evironment level logging.</li>
  {{else}}
    <li>{{t 'loggingPage.tips.env'}}</li>
  {{/if}}
  </ul>
</section>

{{#if isClusterLevel}}
  <section class="box">
    {{input type="checkbox" name="checkbox" id="checkbox" checked=loggingAuth.enableNamespaceLogging}}
    <label for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
    <hr/>
    <ul>
      <li>If enabled, an environment owner will be able to see the evironment logging page and configure a logging target.</li>
      <li>Disable/Enable configure target at the envirnoment level will not neccessary disable evironment logging, it just prevents environment owners from configuring the environment logging target.</li>
    </ul>
  </section>
{{/if}}


{{#if model.enable}}
  {{logging/targets-nav enable=model.enable}}
  {{#if (eq targetType 'elasticsearch')}}
    {{logging/target-elasticsearch model=model tags=tags}}
  {{else if (eq targetType 'embedded')}}
    {{logging/target-embedded model=model}}
  {{else if (eq targetType 'splunk')}}
    {{logging/target-splunk model=model}}
  {{/if}}

  {{top-errors errors=errors}}
  {{save-cancel cancelDisabled=true editing=true save="save"}}
{{/if}}