<section class="header has-tabs clearfix">
  <h1>{{headerLabel}}</h1>
</section>

<!-- <div class="banner bg-info">
     <div class="banner-icon"><span class="icon icon-info"></span></div>
     <div class="banner-message">
     {{#if isClusterLevel}}
     {{else}}
     {{/if}}
     </div>
     </div>
   -->
<section class="box mv-20">
  {{switch-button
      checked=enableLogging
      onLabel="generic.enable"
      offLabel="generic.disable"
  }}
  <hr/>
  <ul>
  {{#if isClusterLevel}}
    <li>{{t 'loggingPage.tips.cluster'}}</li>
    <li>Disable/Enable configure target at the cluster level will not neccessary disable evironment level logging.</li>
  {{else}}
    <li>{{t 'loggingPage.tips.env'}}</li>
  {{/if}}
  </ul>
</section>

{{#if isClusterLevel}}
  <section class="box">
    {{input type="checkbox" name="checkbox" id="checkbox" checked=enableEnvLogging}}
    <label for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
    <hr/>
    <ul>
      <li>If enabled, an environment owner will be able to see the evironment logging page and configure a logging target.</li>
      <li>Disable/Enable configure target at the envirnoment level will not neccessary disable evironment logging, it just prevent environment users from configuring the environment logging target.</li>
    </ul>
  </section>
{{/if}}


{{#if enableLogging}}
  {{logging/targets-nav}}
  {{logging/elasticsearch-target model=model dateFormatChoices=dateFormatChoices}}

  {{top-errors errors=errors}}
  {{save-cancel cancelDisabled=true editing=true save="save"}}
{{/if}}