<section class="header clearfix">
  <h1 class="pull-left">{{headerLabel}}</h1>
  {{#if canRedirectToDashboard}}
    <div class="pull-right">
      {{#link-to "logging.dashboard"}}
          <span class="btn btn-sm bg-primary">Dashboard</span>
      {{/link-to}}
    </div>
  {{/if}}
</section>

<section class="box mv-20">
  {{switch-button
      checked=model.enable
      switch="switch"
      onLabel="generic.enable"
      offLabel="generic.disable"
  }}
  <hr/>
  <ul>
  {{#if isClusterLevel}}
    <li>{{t 'loggingPage.tips.cluster'}}</li>
    <li>Disable or Enable configure target at the cluster level will not neccessary disable environment level logging.</li>
  {{else}}
    <li>{{t 'loggingPage.tips.env'}}</li>
  {{/if}}
  </ul>
</section>

{{#if isClusterLevel}}
  <section class="box">
    {{input type="checkbox" name="checkbox" id="checkbox" checked=loggingAuth.enableNamespaceLogging}}
    <label for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
    <hr/>
    <ul>
      <li>If enabled, an environment owner will be able to see the environment logging page and configure a logging target.</li>
      <li>Disable or Enable configure target at the envirnoment level will not neccessary disable environment logging, it just prevents environment owners from configuring the environment logging target.</li>
    </ul>
  </section>
{{/if}}


{{#if model.enable}}
  {{logging/targets-nav isClusterLevel=isClusterLevel}}
  {{#if (eq targetType 'elasticsearch')}}
    {{logging/target-elasticsearch model=model originalModel=originalModel tags=tags}}
  {{else if (eq targetType 'embedded')}}
    {{#if isClusterLevel}}
      {{logging/target-embedded model=model}}
    {{/if}}
  {{else if (eq targetType 'splunk')}}
    {{logging/target-splunk model=model}}
  {{/if}}

  {{top-errors errors=errors}}
  {{save-cancel cancelDisabled=true editing=true save="save"}}
{{/if}}