<section class="header clearfix">
  <h1 class="pull-left">{{headerLabel}}</h1>
  {{#if canRedirectToDashboard}}
    <div class="pull-right">
      {{#link-to "logging.dashboard"}}
          <span class="btn btn-sm bg-primary">Dashboard</span>
      {{/link-to}}
    </div>
  {{/if}}
</section>

<section class="box mv-20">
  {{switch-button
      checked=model.enable
      switch="switch"
      onLabel="generic.enable"
      offLabel="generic.disable"
  }}
  <hr/>
  <ul>
  {{#if isClusterLevel}}
    <li>{{t 'loggingPage.tips.cluster'}}</li>
    <li>Disable or Enable configure target at the cluster level will not disable environment level logging.</li>
  {{else}}
    <li>{{t 'loggingPage.tips.env'}}</li>
  {{/if}}
  </ul>
</section>

{{#if isClusterLevel}}
  <section class="box">
    {{input type="checkbox" name="checkbox" id="checkbox" checked=loggingAuth.enableNamespaceLogging}}
    <label for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
    <hr/>
    <ul>
      <li>If enabled, an environment owner will be able to see and configure environment level logs.</li>
      <li>Disable configure target at envirnoment level will prevent environment owners and users from seeing and configuring environment level logs.</li>
      <li>
        <div> Who will able to see and configure environment logs </div>
        <ul>
          <li >cluster admins</li>
          <li class="{{if loggingAuth.enableNamespaceLogging '' 'text-error'}}" style="text-decoration: {{if loggingAuth.enableNamespaceLogging '' 'line-through'}}">environment admins</li>
          <li class="{{if loggingAuth.enableNamespaceLogging '' 'text-error'}}" style="text-decoration: {{if loggingAuth.enableNamespaceLogging '' 'line-through'}}">environment users</li>
        </ul>
      </li>
    </ul>
  </section>
{{/if}}

{{#accordion-list as | al expandFn | }}
  {{logging/form-output-tags
      classNames="accordion-wrapper"
      tags=tags
      initialTags=model.outputTags
      expandAll=al.expandAll
      expandFn=expandFn
  }}
{{/accordion-list}}

{{#if model.enable}}
  {{logging/targets-nav
    currentLogging=currentLogging
    targetType=targetType
    isClusterLevel=isClusterLevel
  }}
  {{#if (eq targetType 'elasticsearch')}}
    {{logging/target-elasticsearch model=model originalModel=originalModel tags=tags}}
  {{else if (eq targetType 'embedded')}}
    {{#if isClusterLevel}}
      {{logging/target-embedded model=model}}
    {{/if}}
  {{else if (eq targetType 'splunk')}}
    {{logging/target-splunk model=model}}
  {{/if}}

  {{top-errors errors=errors}}
  {{save-cancel cancelDisabled=true editing=true save="save"}}
{{/if}}