{{new-edit-notifier originalModel=model notifierType="slack"}}

<!-- <section class="clearfix" >
      <row>
      <div class="col span-8">
      <label class="acc-label">{{t 'notifiersPage.slack.form.from.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=from placeholder=(t 'notifiersPage.slack.form.from.placeholder')}}
      </div>
      </row>

      <row>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.userName.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=userName placeholder=(t 'notifiersPage.slack.form.userName.placeholder')}}
      </div>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.password.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=password placeholder=(t 'notifiersPage.slack.form.password.placeholder')}}
      </div>
      </row>

      <row>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.channel.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=channel placeholder=(t 'notifiersPage.slack.form.channel.placeholder')}}
      </div>

      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.apiUrl.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=userName placeholder=(t 'notifiersPage.slack.form.apiUrl.placeholder')}}
      </div>
      </row>

      <row>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.secret.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=password placeholder=(t 'notifiersPage.slack.form.secret.placeholder')}}
      </div>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.slack.form.server.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=server placeholder=(t 'notifiersPage.slack.form.server.placeholder')}}
      </div>
      </row>
      </section> -->