{{new-edit-notifier originalModel=model notifierType="pagerduty"}}

<!-- <section class="clearfix">
      <row>
      <div class="col span-8">
      <label class="acc-label">{{t 'notifiersPage.pagerDuty.form.from.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=from placeholder=(t 'notifiersPage.pagerDuty.form.from.placeholder')}}
      </div>
      </row>

      <row>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.pagerDuty.form.serviceKey.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=serviceKey placeholder=(t 'notifiersPage.pagerDuty.form.serviceKey.placeholder')}}
      </div>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.pagerDuty.form.url.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=url placeholder=(t 'notifiersPage.pagerDuty.form.url.placeholder')}}
      </div>
      </row>

      <row>
      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.pagerDuty.form.client.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=channel placeholder=(t 'notifiersPage.pagerDuty.form.client.placeholder')}}
      </div>

      <div class="col span-6">
      <label class="acc-label">{{t 'notifiersPage.pagerDuty.form.clientUrl.label'}}{{field-required}}</label>
      {{input class="form-control input" type="text" value=userName placeholder=(t 'notifiersPage.pagerDuty.form.clientUrl.placeholder')}}
      </div>
      </row>
      </section> -->