<table class="table fixed no-lines mt-20">
  <thead>
    <tr>
      <th width="3">&nbsp;</th>
      <th class="acc-label" width="9">
        Notifier{{~#unless isReuse}}{{field-required~}}{{~/unless}}
      </th>
      <th width="3">&nbsp;</th>
      <th class="acc-label clearfix" width="14">
        <div class="pull-left">
          {{#if isReuse}}
            {{t 'formRecipient.label.reuse'}}
          {{else}}
            {{t 'formRecipient.label.create'}}{{field-required}}
          {{/if}}
        </div>
        <div class="pull-right">
          <a role="button" class="btn bg-transparent p-0" {{action "toggle"}}>
            {{t (if isReuse 'formRecipient.toggle.create' 'formRecipient.toggle.reuse')}}
          </a>
        </div>
      </th>

      {{#if (eq model.objectType 'pod')}}
        <th width="19">&nbsp;</th>
      {{else}}
        <th width="5">&nbsp;</th>
        <th width="14">&nbsp;</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <td>Send a </td>
    <td>
      {{new-select
          content=recipientTypes
          value=recipientType
      }}
    </td>
    <td class="text-center">to</td>
    <td>
      {{#if isReuse}}
        {{new-select
            content=filteredRecipients
            prompt=(t 'formRecipient.recipient.placeholder.reuse')
            value=model.recipientId
        }}
      {{else}}
        {{input
            type="text"
            placeholder=(t 'formRecipient.recipient.placeholder.create')
            value=toNewRecipient
        }}
      {{/if}}
    </td>
    {{#if (eq model.objectType 'pod')}}
      <td class="pl-30">when pod is unhealthy</td>
    {{else}}
      <td class="text-center">when ></td>
      <td>
        <div class="row">
          <div class="col span-14-of-24" style="position: relative;">
            {{input-slider
                value=percent
                valueMin=0
                valueMax=100
                step=1
            }}
            <div class="text-center" style="position: absolute;width: 100%;">
              {{if percent percent 0}}%
            </div>
          </div>
          <div class="col offset-1-of-24 span-9-of-24"> are unhealthy </div>
        </div>
      </td>
    {{/if}}
  </tbody>
</table>