{{emailConfig.smtpSmartHost}}
<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'notifiersPage.email.form.host.label'}}{{field-required}}</label>
    {{input class="form-control input" type="text" value=host placeholder=(t 'notifiersPage.email.form.host.placeholder')}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'notifiersPage.email.form.port.label'}}{{field-required}}</label>
    {{input class="form-control input" type="text" value=port placeholder=(t 'notifiersPage.email.form.port.placeholder')}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'notifiersPage.email.form.userName.label'}}{{field-required}}</label>
    {{input class="form-control input" type="text" value=emailConfig.smtpAuthUsername placeholder=(t 'notifiersPage.email.form.userName.placeholder')}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'notifiersPage.email.form.password.label'}}{{field-required}}</label>
    {{input class="form-control input" type="password" value=emailConfig.smtpAuthPassword placeholder=(t 'notifiersPage.email.form.password.placeholder')}}
  </div>
</div>
