<section class="container-header-text">
  <h3 class="text-center">Create a <span class="text-capitalize">{{model.recipientType}}</span> recipient</h3>
  <hr/>
</section>
<section class="row">
  <div class="col span-{{if (or (eq model.recipientType 'pagerduty') (eq model.recipientType 'webhook'))'4' '6'}}">
    <div class="acc-label">Notifier</div>
    {{new-select
      classNames="text-capitalize form-control"
      content=recipientTypes
      value=model.recipientType
    }}
  </div>
  {{#if (eq model.recipientType 'pagerduty')}}
    <div class="col span-4">
      <div class="acc-label text-capitalize">{{model.recipientLabel.serviceName}}{{field-required}}</div>
      {{input
          classNames="form-control"
          value=model.pagerdutyRecipient.serviceName
          placeholder=model.recipientPlaceholder.serviceName
      }}
    </div>
    <div class="col span-4">
      <div class="acc-label text-capitalize">{{model.recipientLabel.serviceKey}}{{field-required}}</div>
      {{input
          classNames="form-control"
          value=model.pagerdutyRecipient.serviceKey
          placeholder=model.recipientPlaceholder.serviceKey
      }}
    </div>
  {{else if (eq model.recipientType 'webhook')}}
    <div class="col span-4">
      <div class="acc-label text-capitalize">{{model.recipientLabel.name}}{{field-required}}</div>
      {{input
          classNames="form-control"
          value=model.webhookRecipient.name
          placeholder=model.recipientPlaceholder.name
      }}
    </div>
    <div class="col span-4"> <div class="acc-label text-capitalize">{{model.recipientLabel.url}}{{field-required}}</div>
      {{input
          classNames="form-control"
          value=model.webhookRecipient.url
          placeholder=model.recipientPlaceholder.url
      }}
    </div>
  {{else}}
    <div class="col span-6">
      <div class="acc-label text-capitalize">{{model.recipientLabel}}{{field-required}}</div>
      {{input classNames="form-control" value=value placeholder=model.recipientPlaceholder}}
    </div>
  {{/if}}
</section>

<div class="mt-20">
  {{top-errors errors=errors}}
</div>

<div class="footer-actions">
  {{save-cancel createLabel='generic.create' save="save" cancel="cancel"}}
</div>
