<section class="container-header-text">
  <h3 class="text-center">Create a <span class="text-capitalize">{{model.recipientType}}</span> recipient</h3>
  <hr/>
</section>
<section class="row">
  <div class="col span-{{if isPagerduty '4' '6'}}">
    <div class="acc-label">Notifier</div>
    {{new-select
      classNames="text-capitalize form-control"
      content=recipientTypes
      value=model.recipientType
    }}
  </div>
  {{#if isPagerduty}}
    <div class="col span-4">
      <div class="acc-label text-capitalize">Service Name</div>
      {{input classNames="form-control" value=model.pagerdutyRecipient.serviceName placeholder="Enter a service naem"}}
    </div>
  {{/if}}
  <div class="col span-{{if isPagerduty '4' '6'}}">
    <div class="acc-label text-capitalize">{{model.recipientLabel}}</div>
    {{input classNames="form-control" value=value placeholder=model.recipientPlaceholder}}
  </div>
</section>

<div class="mt-20">
  {{top-errors errors=errors}}
</div>

<div class="footer-actions">
  {{save-cancel createLabel='generic.create' save="save" cancel="cancel"}}
</div>
