{{#if alerts}}
  {{#each alerts as |alert idx|}}
    {{#if isStandalone}}
      {{#if (and (gt idx 0) (not-eq idx (sub alerts.length - 1)))}}
        <hr class="mt-40 mb-20"/>
      {{/if}}
    {{/if}}
    <div class="{{if (not isStandalone) 'box mt-20 pt-20'}}" style="position: relative;" >
      {{#if (or (not isStandalone) (gt alerts.length 1))}}
        <button
          class="btn bg-transparent text-small mh-0 p-0"
          style="position: absolute; {{if isStandalone "right: 0;top:-10px" "right:20px;top: 15px;"}}"
          {{action "removeAlert" alert}}
        >
          {{t 'formNewEditAlert.removeButtonLabel'}}
        </button>
      {{/if}}
      <div class="row">
        <div class="col span-4">
          {{form-name-description
              model=alert
              descriptionShown=false
              bothColClass="col span-12 mt-0"
              colClass="col span-12 mt-0"
              namePlaceholder="formNewEditAlert.name.placeholder"
              nameRequired=true
          }}
        </div>
        <div class="col span-4">
          <div><label class="acc-label">Target{{field-required}}</label></div>
          <!-- When creating new container/service,
                objectId is will be the new created container/service id
                and will be populated automatically.
                So users don't need to fill in the objectId.
              -->
          {{#if isStandalone}}
            {{searchable-select
                content=objectChoices
                optionGroupPath="type"
                optionValuePath="id"
                optionLabelPath="displayName"
                prompt="Choose a Target"
                group=alert.objectType
                value=alert.objectId
            }}
          {{else}}
            {{#if objectId}}
              {{searchable-select
                  value=objectId
                  content=objectChoices
                  optionGroupPath="type"
                  optionValuePath="id"
                  optionLabelPath="displayName"
                  prompt="Choose a Object"
                  group=alert.objectType
              }}
            {{else}}
              {{input type=text disabled=true placeholder="Object will be automatically filled in"}}
            {{/if}}
          {{/if}}
        </div>
        <div class="col span-4">
          <div><label class="acc-label">{{t 'formNewEditAlert.severity'}}</label></div>
          {{#input-or-display editing value="Severity"}}
            {{new-select
                classNames="form-control"
                content=severities
                value=alert.severity
            }}
          {{/input-or-display}}
        </div>
      </div>
      {{alert/form-recipient model=alert recipients=recipients}}
    </div>
  {{/each}}
{{/if}}

{{#if allowAddMulti}}
  <div class="clearfix mt-30">
    <button class="btn bg-link icon-btn pull-right" {{action "addAlert"}}>
      <span class="darken"><i class="icon icon-plus text-small"/></span>
      <span>{{t 'formNewEditAlert.addAlert'}}</span>
    </button>
  </div>
{{/if}}

{{#if (and isStandalone errors)}}
  <div class="mt-20">
    {{top-errors errors=errors}}
  </div>
{{/if}}

{{#if isStandalone}}
  <div class="mv-20">
    {{save-cancel createLabel=(if creating 'generic.save' 'generic.create') save="save" cancel="cancel"}}
  </div>
{{/if}}