<div class="row">
  <div class="col span-6 pt-0 mt-0">
    <div><label class="acc-label">Description{{field-required}}</label></div>
    {{input
        class="form-control"
        value=model.description
        placeholder=(t 'formNewEditAlert.description.placeholder')
        disabled=(not isCreate)
    }}
  </div>
  <div class="col span-6 pt-0 mt-0">
    {{alert/form-severity model=model}}
  </div>
</div>

{{alert/form-recipient model=model}}
{{alert/form-rules isCreate=isCreate model=model}}

<div class="mt-30 clearfix">
  {{#unless advancedShown}}
      <div class="pull-right text-small">
        <a role="button" class="btn bg-transparent p-0" {{action "showAdvanced"}}>Show advanced options</a>
      </div>
  {{/unless}}
  {{#if advancedShown}}
    {{alert/advanced-options
        classNames="accordion-wrapper"
        expandAll=al.expandAll
        expandFn=expandFn
        model=model.advancedOptions
    }}
  {{/if}}
</div>

<div class="mt-20">
  {{top-errors errors=errors}}
</div>

<div class="mv-20">
  {{save-cancel createLabel=(if isCreate 'generic.create' 'generic.save') save="save" cancel="cancel"}}
</div>