{{#if alerts}}
  {{#each alerts as |alert idx|}}
    {{#if isStandalone}}
      {{#if (and (gt idx 0) (not-eq idx (sub alerts.length - 1)))}}
        <hr class="mt-40 mb-20"/>
      {{/if}}
    {{/if}}
    <div class="{{if (not isStandalone) 'box mt-20 pt-20'}}" style="position: relative;" >
      {{#if (or (not isStandalone) (gt alerts.length 1))}}
        <button
          class="btn bg-transparent text-small mh-0 p-0"
          style="position: absolute; {{if isStandalone "right: 0;top:-10px" "right:20px;top: 15px;"}}"
          {{action "removeAlert" alert}}
        >
          {{t 'formNewEditAlert.removeButtonLabel'}}
        </button>
      {{/if}}
      <div class="row">
        <div class="col span-4">
          <div><label class="acc-label">Description{{field-required}}</label></div>
          {{input
            class="form-control"
            value=alert.description
            placeholder=(t 'formNewEditAlert.description.placeholder')
          }}
        </div>
        <div class="col span-4">
          <div><label class="acc-label">Target{{field-required}}</label></div>
          <!-- When creating new container/service,
                targetId is will be the new created container/service id
                and will be populated automatically.
                So users don't need to fill in the targetId.
              -->
          {{#if isStandalone}}
            {{searchable-select
                content=objectChoices
                optionGroupPath="type"
                optionValuePath="id"
                optionLabelPath="displayName"
                prompt="Choose a Target"
                group=alert.targetType
                value=alert.targetId
            }}
          {{else}}
            {{#if targetId}}
              {{searchable-select
                  value=targetId
                  content=objectChoices
                  optionGroupPath="type"
                  optionValuePath="id"
                  optionLabelPath="displayName"
                  prompt="Choose a Object"
                  group=alert.targetType
              }}
            {{else}}
              {{input type=text disabled=true placeholder="Object will be automatically filled in"}}
            {{/if}}
          {{/if}}
        </div>
        <div class="col span-4">
          <div><label class="acc-label">{{t 'formNewEditAlert.severity'}}</label></div>
          {{#input-or-display editing value="Severity"}}
            {{new-select
                classNames="form-control"
                content=severities
                value=alert.severity
            }}
          {{/input-or-display}}
        </div>
      </div>
      {{alert/form-recipient percent=unavailablePercentage model=alert recipients=recipients}}
    </div>

    <div class="mt-30 clearfix">
      <div class="pull-right text-small">
        <a role="button" class="btn bg-transparent p-0" {{action "showAdvanced"}}>Show advanced options</a>
      </div>
    </div>

    {{#if advancedShown}}
      <div class="row box">
        <div class="col span-6 pt-0 mt-0">
          <label class="acc-label">Initial Wait</label>
          <div style="display: flex">
            <div style="flex-grow: 1">
              {{input-integer
                min=1
                value=alert.advancedOptions.initialWait
                class="form-control"
                placeholder=(t 'loggingPage.flushInterval.placeholder')
                aria-describedby="basic-addon2"
              }}
            </div>
            <div>{{new-select class="pr-40 bg-primary" content=timeUnits value=flushInterval}}</div>
          </div>
        </div>

        <div class="col span-6 pt-0 mt-0">
          <label class="acc-label">Repeat Interval</label>
          <div style="display: flex">
            <div style="flex-grow: 1">
              {{input-integer
                min=1
                value=alert.advancedOptions.repeatInterval
                class="form-control"
                placeholder=(t 'loggingPage.flushInterval.placeholder')
                aria-describedby="basic-addon2"
              }}
            </div>
            <div>{{new-select class="bg-primary pr-40" content=timeUnits value=flushInterval}}</div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
{{/if}}

{{#if allowAddMulti}}
  <div class="clearfix mt-30">
    <button class="btn bg-link icon-btn pull-right" {{action "addAlert"}}>
      <span class="darken"><i class="icon icon-plus text-small"/></span>
      <span>{{t 'formNewEditAlert.addAlert'}}</span>
    </button>
  </div>
{{/if}}

{{#if (and isStandalone errors)}}
  <div class="mt-20">
    {{top-errors errors=errors}}
  </div>
{{/if}}

{{#if isStandalone}}
  <div class="mv-20">
    {{save-cancel createLabel=(if creating 'generic.save' 'generic.create') save="save" cancel="cancel"}}
  </div>
{{/if}}