{{#if alerts}}
  {{#each alerts as |alert idx|}}
    {{#if isStandalone}}
      {{#if (and (gt idx 0) (not-eq idx (sub alerts.length - 1)))}}
        <hr class="mt-40 mb-20"/>
      {{/if}}
    {{/if}}
    <div class="{{if (not isStandalone) 'box mt-20 pt-20'}}" style="position: relative;" >
      {{#if (or (not isStandalone) (gt alerts.length 1))}}
        <button
          class="btn bg-transparent text-small mh-0 p-0"
          style="position: absolute; {{if isStandalone "right: 0;top:-10px" "right:20px;top: 15px;"}}"
          {{action "removeAlert" alert}}
        >
          {{t 'formNewEditAlert.removeButtonLabel'}}
        </button>
      {{/if}}
      <div class="row">
        <div class="col span-7-of-24">
          {{form-name-description
              model=alert
              descriptionShown=false
              bothColClass="col span-12 mt-0"
              colClass="col span-12 mt-0"
              namePlaceholder="formNewEditAlert.name.placeholder"
              nameRequired=true
          }}
        </div>
        <div class="col span-7-of-24">
          <div><label class="acc-label">Object{{field-required}}</label></div>
          {{#input-or-display editing value="Object"}}
            <!-- When creating new container/service,
                 objectId is will be the new created container/service id
                 and will be populated automatically.
                 So users don't need to fill in the objectId.
               -->
            {{#if isStandalone}}
              {{alert/form-object value=alert.objectId groups=selectionGroups}}
            {{else}}
              {{#if objectId}}
                {{alert/form-object value=objectId disabled=true groups=selectionGroups}}
              {{else}}
                {{input type=text disabled=true placeholder="Object will be automatically filled in"}}
              {{/if}}
            {{/if}}
          {{/input-or-display}}
        </div>
        <div class="col span-4-of-24">
          <div><label class="acc-label">Severity{{field-required}}</label></div>
          {{#input-or-display editing value="Severity"}}
            {{new-select
                classNames="form-control"
                content=severities
                localizedLabel=true
                value=alert.severity
            }}
          {{/input-or-display}}
        </div>

        <div class="col span-6-of-24">
          <div style="margin-top: 16px">
            <div class="radio">
              <label>{{radio-button selection=alert.sendResolved value=false}} {{t 'formNewEditAlert.sendError'}}</label>
            </div>
            <div class="radio pv-0">
              <label>{{radio-button selection=alert.sendResolved value=true}} {{t 'formNewEditAlert.sendAndResolved'}}</label>
            </div>
          </div>
        </div>
      </div>
      {{alert/form-recipient model=alert recipients=recipients}}
    </div>
  {{/each}}
{{/if}}

{{#if allowAddMulti}}
  <div class="clearfix mt-30">
    <button class="btn bg-link icon-btn pull-right" {{action "addAlert"}}>
      <span class="darken"><i class="icon icon-plus text-small"/></span>
      <span>{{t 'formNewEditAlert.addAlert'}}</span>
    </button>
  </div>
{{/if}}

{{#if (and isStandalone errors)}}
  <div class="mt-20">
    {{top-errors errors=errors}}
  </div>
{{/if}}

{{#if isStandalone}}
  <div class="mv-20">
    {{save-cancel createLabel=(if creating 'generic.save' 'generic.create') save="save" cancel="cancel"}}
  </div>
{{/if}}