{{#sortable-table
  tableClassNames="bordered"
  classNames="grid sortable-table"
  bulkActions=false
  paging=true
  search=false
  sortBy=sortBy
  headers=headers
  body=model
  fullRows=true
  fullColspan=true
  as |sortable kind row dt|
}}
  {{#if (eq kind "row")}}
    {{logging-dashboard/logging-row
        model=row
        searchText=searchText
        subMatches=sortable.subMatches
        fullColspan=sortable.fullColspan
    }}
  {{else if (eq kind "nomatch")}}
    <tr>
      <td colspan="2"></td>
      <td class="text-center text-muted pt-20 pb-20">{{t 'loggingDashboardPage.table.noMatch'}}</td>
      <td colspan="2"></td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="2"></td>
      <td class="text-center text-muted pt-20 pb-20">{{t 'loggingDashboardPage.table.noData'}}</td>
      <td colspan="2"></td>
    </tr>
  {{/if}}
{{/sortable-table}}