<div class="header">
  <h1>{{if isCluster (t 'loggingPage.header.cluster')  (t 'loggingPage.header.env')}}</h1>
</div>

{{#if isClusterLevel}}
  <div class="banner bg-info">
    <div class="banner-icon"><span class="icon icon-info"></span></div>
    <div class="banner-message">
      <p>{{t 'loggingPage.configurationTip'}}</p>
    </div>
  </div>
{{/if}}

<section class="box">
  <div class="row clearfix inline-form">
    {{#if isClusterLevel}}
      <div class="col span-3" style="padding-top: 14px">
        {{switch-button
            checked=loggingEnabled
            onLabel="generic.enable"
            offLabel="generic.disable"
        }}
      </div>
    {{/if}}
    <div class="col span-4 {{if isClusterLevel '' 'offset-3'}}">
      <div class="row inline-form">
        <div class="col span-3">
          <label class="acc-label inline-label" style="text-align:right" >{{t 'loggingPage.target.label'}}</label>
        </div>
        <div class="col span-9">
          {{new-select
              disabled=(not loggingEnabled)
              className="form-control inline-form"
              content=targetChoices
              value=target
          }}
        </div>
      </div>
    </div>
    {{#if isClusterLevel}}
      <div class="col span-4 offset-1-of-24">
        <div style="padding-top: 12px">
          {{input type="checkbox" name="checkbox" id="checkbox" checked=isEnvLevel disabled=(not loggingEnabled)}}
          <label class="{{if (not loggingEnabled) 'text-muted'}}" for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
        </div>
      </div>
    {{/if}}
  </div>
</section>

{{#if loggingEnabled}}
  <section class="mt-20 clearfix">
    <row class="clearfix">
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'generic.host'}}</label>
        {{new-select
            class="form-control mb-15"
            content=hostChoices
            value=host
            optionValuePath="id"
            optionLabelPath="name"
            style="display: inline-block; width: auto;"
        }}
      </div>
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'loggingPage.port.label'}}</label>
        {{input-integer class="form-control public" min="1" max="65535" value=prot placeholder=(t 'loggingPage.port.placeholder')}}
      </div>
      <div class="col span-4">
        <label class="acc-label" for="">Prefix</label>
        {{input type="text" value=prefix className="form-control" placeholder=(t 'loggingPage.prefix.placeholder')}}
      </div>
    </row>
    <row class="clearfix mt-20">
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'loggingPage.dateFormat.label'}}</label>
        {{new-select
            class="form-control mb-15"
            className="form-control"
            content=dateFormatChoices
            localizedLabel=true
            value=target
        }}
      </div>
      {{#if isClusterLevel}}
        <div class="col span-4">
          <label class="acc-label" for="">{{t 'loggingPage.type.label'}}</label>
          {{new-select
              className="form-control"
              content=typeChoices
              localizedLabel=true
              value=target
          }}
        </div>
      {{/if}}
      <div class="col span-4">
        <label class="acc-label">{{t 'loggingPage.tagKey.label'}}</label>
        {{new-select
            className="form-control"
            content=tagKeyChoices
            localizedLabel=false
            value=target
        }}
      </div>
    </row>
    <row class="clearfix">
      <div class="col span-5">
        <div class="col span-8">
          <label class="acc-label">{{t 'loggingPage.flushInterval.label'}}</label>
          <div class="input-group">
            {{input-integer class="form-control" placeholder=(t 'loggingPage.flushInterval.placeholder') aria-describedby="basic-addon2"}}
            <span class="input-group-addon bg-default" id="basic-addon2">sec</span>
          </div>
        </div>
        <div class="col span-4">
          <div> <label class="acc-label">&nbsp;{{!-- placeholder --}}</label> </div>
          <div class="input-group inline-block" style="font-size: 18px">
            <button class="btn bg-primary bg-link" type="button"><span>-</span></button>
            <button class="btn bg-primary bg-link" type="button"><span>+</span></button>
          </div>
        </div>
      </div>

      <div class="col span-4 offset-3">
        <div class="row pt-35">
          <div class="col span-6">
            {{input type="checkbox" name="logstashFormat" id="logstashFormat" checked=logstashFormat}}
            <label for="logstashFormat">{{t 'loggingPage.logstashFormat'}}</label>
          </div>
          <div class="col span-6">
            {{input type="checkbox" name="includeTagKey" id="includeTagKey" checked=includeTagKey}}
            <label for="includeTagKey">{{t 'loggingPage.includeTagKey'}}</label>
          </div>
        </div>
      </div>
    </row>
  </section>
{{/if}}

{{top-errors errors=errors}}
{{save-cancel cancelDisabled=true editing=true save="save"}}