{{#sortable-table
  tableClassNames="bordered"
  classNames="grid sortable-table"
  bulkActions=false
  paging=true
  fullRows=true
  search=true
  sortBy=sortBy
  headers=headers
  body=filteredAlerts
  fullRows=true
  as |sortable kind row dt|
}}
  {{#if (eq kind "row")}}
    {{alert-row model=row isLocal=isLocal}}
  {{else if (eq kind "nomatch")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'alertsPage.index.table.noMatch'}}</td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'alertsPage.index.table.noData'}}</td>
    </tr>
  {{/if}}
{{/sortable-table}}