<section class="header has-tabs clearfix">
  <h1>{{headerLabel}}</h1>
</section>

{{#if isClusterLevel}}
  <div class="banner bg-info">
    <div class="banner-icon"><span class="icon icon-info"></span></div>
    <div class="banner-message">
      <p>{{t 'loggingPage.configurationTip'}}</p>
    </div>
  </div>
{{/if}}

<section class="box">
  <div class="row clearfix inline-form">
    {{#if isClusterLevel}}
      <div class="col span-3" style="padding-top: 14px">
        {{switch-button
            checked=enableClusterLogging
            onLabel="generic.enable"
            offLabel="generic.disable"
        }}
      </div>
    {{/if}}
    <div class="col span-4 {{if isClusterLevel '' 'offset-4'}}">
      <div class="row inline-form">
        <div class="col span-2">
          <label class="acc-label inline-label">{{t 'loggingPage.targetType.label'}}</label>
        </div>
        <div class="col span-9">
          {{new-select
              disabled=(not enableClusterLogging)
              className="form-control inline-form"
              content=targetChoices
              value=model.targetType
          }}
        </div>
      </div>
    </div>
    {{#if isClusterLevel}}
      <div class="col span-4 offset-1-of-24">
        <div style="padding-top: 12px">
          {{input type="checkbox" name="checkbox" id="checkbox" checked=enableEnvLogging}}
          <label for="checkbox">{{t 'loggingPage.loggingEnvLevel'}}</label>
        </div>
      </div>
    {{/if}}
  </div>
</section>

{{#if enableClusterLogging}}
  <section class="mt-20 clearfix">
    <div class="clearfix">
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'generic.host'}}</label>
        {{input
            type="text"
            value=model.outputHost
            classNames="form-control"
            placeholder=(t 'loggingPage.outputHost.placeholder')
        }}
      </div>
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'loggingPage.outputPort.label'}}</label>
        {{input-integer
            class="form-control public"
            min="1"
            max="65535"
            value=model.outputPort
            placeholder=(t 'loggingPage.outputPort.placeholder')
        }}
      </div>
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'loggingPage.outputPrefix.label'}}</label>
        {{input
            type="text"
            value=model.outputLogstashPrefix
            className="form-control"
            placeholder=(t 'loggingPage.outputPrefix.placeholder')
        }}
      </div>
    </div>

    <div class="clearfix mt-20">
      <div class="col span-4">
        <label class="acc-label" for="">{{t 'loggingPage.dateFormat.label'}}</label>
        {{new-select
            htmlSafe=false
            class="form-control mb-15"
            className="form-control"
            content=dateFormatChoices
            localizedLabel=false
            value=model.outputLogstashDateformat
        }}
      </div>
      <div class="col span-4">
        <label class="acc-label">{{t 'loggingPage.outputTagKey.label'}}</label>
        {{input
            type="text"
            value=model.outputTagKey
            className="form-control"
            placeholder=(t 'loggingPage.outputTagKey.placeholder')
        }}
      </div>
      <div class="col span-4">
        <label class="acc-label">{{t 'loggingPage.flushInterval.label'}}</label>
        <div class="input-group">
          {{input-integer
              value=model.outputFlushInterval
              class="form-control"
              placeholder=(t 'loggingPage.flushInterval.placeholder')
              aria-describedby="basic-addon2"
          }}
          <span class="input-group-addon bg-default" id="basic-addon2">sec</span>
        </div>
      </div>
    </div>

    <div class="clearfix" style="display:flex;justify-content:flex-end;">
      <div class="mr-50">
        {{input type="checkbox" name="logstashFormat" id="logstashFormat" checked=model.outputLogstashFormat}}
        <label for="logstashFormat">{{t 'loggingPage.logstashFormat'}}</label>
      </div>
      <div>
        {{input type="checkbox" name="includeTagKey" id="includeTagKey" checked=model.outputIncludeTagKey}}
        <label for="includeTagKey">{{t 'loggingPage.includeTagKey'}}</label>
      </div>
    </div>
  </section>
{{/if}}

{{#if enableClusterLogging}}
  {{top-errors errors=errors}}
  {{save-cancel cancelDisabled=true editing=true save="save"}}
{{/if}}