<!-- <button data-zoom="+1">Zoom In</button>
     <button data-zoom="-1">Zoom Out</button>
     <button id="reset">Reset</button> -->
<section class="mb-10">
  <!-- <div class="input-group">
       {{input class="form-control input-sm" type="search"}}
       <span class="input-group-addon bg-primary icon icon-search"></span>
       </div> -->
  <!-- <hr class="mb-0 pb-0"/> -->
  <div class="row">
    <div class="col span-7 pt-5 mt-0">
      <span class="text-success">{{hits}}</span> Hits. From
      <span class="text-info">{{displayDateRange.from}}</span> To  <span class="text-info">{{displayDateRange.to}}</span>
    </div>

    <div class="col span-4 mt-0">
      <div class="input-group" >
        <span class="input-group-addon">Time bucket</span>
        {{new-select
            value=interval
            class="input-sm text-capitalize"
            content=intervals
            optionValuePath="abbr"
        }}
      </div>
    </div>
  </div>
</section>

<section class="chart-container">
  <div class="logging-chart"></div>
  {{#if updating}}
    <div class="overlay">
      <i class="icon icon-spinner icon-spin"></i>
    </div>
  {{/if}}
</section>