{{#infinite-scroller trigger-at="80%" use-document=true on-load-more=(action 'loadMore') as |scroller|}}
  {{if scroller.isLoading 'Please wait...'}}
{{/infinite-scroller}}

<section class="mb-10">
  <div class="input-group mb-20" style="position:relative">
    {{input
        class="form-control input-sm"
        type="search"
        placeholder="Search... (e.g. status:200 AND extension:PHP)"
    }}
    <span class="input-group-addon bg-primary icon icon-search"></span>
    <a target="_blank" style="position:absolute; right: 50px;top: 5px" href="https://www.elastic.co/guide/en/elasticsearch/reference/5.6/query-dsl-query-string-query.html#query-string-syntax" >Uses lucene query syntax</a>
  </div>
</section>

<section class="chart-container">
  <div class="logging-chart">
    <svg height="{{height}}"></svg>
  </div>
  {{#if updating}}
    <div class="overlay">
      <i class="icon icon-spinner icon-spin"></i>
    </div>
  {{/if}}
</section>

<div class="text-center">
  <span class="text-success">{{hits}}</span> Hits: From
  <span class="text-info">{{displayDateRange.from}}</span> To  <span class="text-info">{{displayDateRange.to}}</span>
</div>

{{#logging-dashboard/scroll-to x=0 y=140}}
  {{#if loader}}
    <i class="icon icon-spinner icon-spin"></i>
  {{else}}
    Top
  {{/if}}
{{/logging-dashboard/scroll-to}}